<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Category</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<h1>New Category</h1>
	<div class="col-md-4">
		<form th:object="${category}" th:action="@{/saveCategory}" action="#" method="post">
			<input type="text" th:field="*{name}" class="form-control"
				placeholder="Category name" />
			<div style="clear: both; display: block; height: 10px;"></div>


			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" name="action" class="btn btn-primary" value="Save"></input>
			<input th:formaction="@{/cancelCategory}" type="submit" name="action" class="btn btn-secondary" value="Cancel"></input>
		</form>
	</div>
</div>
</body>
</html>